.radius {
  border-radius: 50%;
  margin: auto;
  display: block;

}
#image {
  background-color:  #1abc9c;
  border: 50px;
  margin-left: 45%;
  margin-right: 45%;
  width: 100px;
  padding: auto;

}
#background{
  background-color: rgb(145, 138, 138);
}
#table_divider{
  background-color: rgb(145, 138, 138) ;
  height: 15px;
}
#info_background{
  background-color: rgb(2, 19, 34);
}
#table_background{
  background-color: rgb(11, 34, 34);
}
#skills_background{
  background-color: rgb(1, 1, 14);
}
#job_background{
  background-color: rgb(20, 1, 37);
}
#intern_background{
  background-color: rgb(6, 19, 19);
}
#projects_background{
  background-color: rgb(13, 17, 3);
}
#tble{
  margin-left: 27%;
  margin-right:20%;
  width: 100%;
  font-family: arial;
  border-collapse: collapse;
  width: 50%;
  padding: 100px;
}

td,th{
  border: 1px solid silver;
  text-align: center;
  padding: 5px;
} 
.header {
  padding: 2px;
  text-align: center;
  background: darkblue;
  color: white;
  font-size: 25px;
}
.footer {
  width: 100%;
  margin: auto;
  background-color:black;
  color:white;
  text-align: center;
}

 *{
    margin:0% ;
    padding: 0%;
}

#bimage {
    background-image: url('../images/background.jpg');
    /* background-repeat: no-repeat; */
    background-size: 2000px 2000px;
}

.image_java{
  margin-top: 50px;
}

.image_csharp {
  margin-top: 50px;
}
.image_php{
  margin-top: 50px;
}
